<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>jp.caph.safari2tweetbot</string>
       <key>Developer Identifier</key>
       <string>RV6DJ2NMCD</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>https://dl.dropboxusercontent.com/u/333136/GitHub/Safari2Tweetbot/Safari2Tweetbot.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
